source_up

layout python3
watch_file requirements.txt
requirements_sentinel=$VIRTUAL_ENV/requirements_installed.sentinel
if [[ ! -f "$requirements_sentinel" || "requirements.txt" -nt "$requirements_sentinel" ]]; then
    pip install -r requirements.txt
    touch $requirements_sentinel
fi
