source_up

layout python3
watch_file requirements.txt
if [[ ! -f "$VIRTUAL_ENV/requirements_installed.sentinel" ]]; then
    pip install -r requirements.txt
    touch $VIRTUAL_ENV/requirements_installed.sentinel
fi
