*.log

# Emacs
*~

__pycache__

# Not sure what these are, but they appear when interrupting the test script
.bpad

# Framework files
.__testsuite.sv
.svunit.f
.testrunner.sv
run.log
tests.xml

# IUS specific files
INCA_libs
run.history
*.history

# Xcelium specific files
xcelium.d

# dsim
dsim.env
dsim_work/
metrics.db
metrics_history.db

# test specific files
test/frmwrk_3/.testsuite.gold
test/frmwrk_3/test_unit_test.sv

# scratch space for Python virtual environment used for testing
test/venv
