name: CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.6"

      - name: Set up testing environment
        run: pip install -r test/requirements.txt

      - name: Run a one-line script
        run: python -c 'print("Hello, world!")'
